* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lora", serif;
	background-color: hsl(21, 96%, 98%);
}

header {
	height: 10vh;
	width: 85vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

header img {
	height: 10vh;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin: 0 1em;
}

nav a {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 100px;
	text-align: center;
	margin: 0 1em;
}

h2 {
	font-size: 50px;
	text-align: center;
	margin: 1em 0.5em 2em 0.5em;
}

#cta {
	font-size: 20px;
	background-color: hsl(342, 74%, 26%);
	color: hsl(21, 96%, 95%);
	padding: 1em 3em;
	border-radius: 5px;
	border: solid 1px hsl(342, 74%, 26%);
	text-decoration: none;
	box-shadow: 0 0 15px hsl(180, 2%, 82%);
}

#cta:hover {
	box-shadow: 0 0 20px hsl(180, 2%, 76%);
}
