* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: hsl(21, 96%, 98%);
}

header {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(21, 96%, 98%);
	position: sticky;
	top: 0;
	box-shadow: 0 0 15px hsl(180, 2%, 92%);
	padding: 0 8em;
}

#logo-wrapper {
	display: flex;
	align-items: center;
}

#logo {
	height: 8vh;
	width: auto;
}

#logo-title {
	height: 3vh;
	width: auto;
	margin-left: 2em;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin: 0 1em;
}

a {
	color: hsl(342, 74%, 26%);
	font-size: 20px;
	text-decoration: none;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
}

a:hover {
	text-decoration: underline;
}

main,
section {
	width: 85%;
	margin: 0 auto 5em auto;
	/* scroll-padding: 10vh 0 0 0; */
}

main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	margin: 0 1em;
}

h2 {
	font-size: 45px;
	text-align: center;
	margin: 1em 0.5em 2em 0.5em;
}

#cta {
	font-size: 20px;
	background-color: hsl(342, 74%, 26%);
	color: hsl(21, 96%, 95%);
	padding: 1em 3em;
	border-radius: 5px;
	border: solid 1px hsl(342, 74%, 26%);
	text-decoration: none;
	box-shadow: 0 0 15px hsl(180, 2%, 82%);
}

#cta:hover {
	box-shadow: 0 0 20px hsl(180, 2%, 76%);
}

section {
	min-height: 100vh;
}

.section-col-wrapper {
	display: flex;
}

.section-col-1 {
	flex: 0.4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-col-1 img {
	width: 24vw;
	padding: 0 2em 2em 0;
	border-right: solid 3px hsl(342, 74%, 26%);
	border-bottom: solid 3px hsl(342, 74%, 26%);
}

.section-col-2 {
	flex: 0.6;
	display: flex;
	flex-direction: column;
}

#tutor-text {
	font-size: 20px;
	line-height: 1.5em;
}

h3 {
	font-size: 40px;
	margin: 0 0.5em 1em 0;
}

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2em;
}

.card {
	padding: 1em;
	border: solid 2px hsl(342, 74%, 26%);
	border-radius: 5px;
	box-shadow: 0 0 15px hsl(180, 2%, 95%);
}

.card-text {
	margin-bottom: 1em;
}

#contact-col-1 {
	flex-direction: column;
	margin-right: 2em;
}

td {
	padding: 0.5em 0;
}

#img-td {
	text-align: center;
}

#phone-img {
	width: 3vw;
	border: none;
	padding: 0;
}

#instagram-img {
	width: 4.5vw;
	border: none;
	padding: 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 0.5em;
}

sup {
	color: red;
}

input {
	height: 4vh;
	padding: 0 0.5em;
	margin-bottom: 1.2em;
}

textarea {
	padding: 0.5em;
	resize: vertical;
}

footer {
	height: 10vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}
